:root{
    --color-brand: #819b57;
     --color-brand-dark: #465929;
    --color-primery-dark: #31261A;
    --color-primery-light: #faf4ea;
}
/* base */
body{
    color:var(--color-primery-dark) ;
}
ul{
    list-style-type: none;
}
/* button */
.button {
  color: var(--color-primery-light);
  background: var(--color-brand);
  border-radius: 8px;
  border: 2px solid var(--color-brand);
  cursor: pointer;
}
.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}
/* link */
.link {
  color: var(--color-primery-light);
  
}
.link:hover {
  color: var(--color-brand);
}
/* hero-section */
.hero-title{
    color: var(--color-primery-light);
}
.hero-title .accent{
    color: var(--color-brand);
}
/* advantages-section */
.advantages-list{
    color: var(--color-primery-light);
    background-color: var(--color-brand);
}
.section-title .accent{
    color: var(--color-brand-dark);
}